.searchBox {
    width: 20%;
    float: left;
    clear: none;
    background-color: #e5e8ec;
    position: absolute;
    z-index: 2000;
    padding-bottom: 0;
}

.searchBox .search-container {
    float: right;
}

.searchBox input[type=text] {
    float: left;
    padding: 6px;
    margin: 8px 0 0 20px;
    font-size: 17px;
    border: none;
}

.searchBox p {
    float: left;
    color: black;
    padding: 12px 10px 4px 20px;
    font-size: 17px;
    text-align: left;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
}

.searchBox input[type=number] {
    float: left;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 50px;
}

.searchList {
    position: absolute;
    color: black;
    list-style-type: none;
    width: 209px;
    z-index: 1500;
    background-color: white;
    margin: 50px 0 0 20px;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
}

.searchList li {
    padding: 4px 0 4px 0;
    font-size: 15px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.searchList li:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.checkBox {
    float: left;
    margin: 0 0 0 20px;
    font-size: 17px;
    border: none;
}

.checkBox Form.Group, Form.Check {
    color: black;
    float: left;
    padding: 6px;
    margin: 8px 0 0 10px;
    font-size: 17px;
    border: none;
}

.dropdown {
     float: left;
     padding: 6px;
     margin: 0 0 0 50px;
     font-size: 17px;
     border: none;
 }

.dropdown Form.Control {
    border: none;
    outline: none;
}

.label {
    color: black;
    float: left;
    margin: 0 0 0 20px;
    font-size: 17px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.select {
    float: left;
    margin: 0 0 15px 15px;
    font-size: 17px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.formLabel {
    color: black;
}